* {
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
    font-weight: 300;
    box-sizing: border-box;

  }
  :root {
    --card-bg: #8ecae6;
    --shadow: 2px 5px 5px darkgray;
    --white: whitesmoke;
    --border-gray: 2px solid darkgray;
  }

body{
   background-image: url('../assets/papel-pintado-sano-de-la-historieta-del-diente-9228882.webp');
   background-repeat: no-repeat;
   background-size: 100%;
   background-attachment: fixed;
}
header{
height: 50px:
}
nav{
background-color: #8ecae6;
height: 100px;
}
#logos{
    display: flex;
    flex-direction: column;

    height: 50px;
    width: 300px;

 }
.card-header {
    box-shadow: var(--shadow);
    border-radius: 10px;
    width: 250px;
    height: 300px;
    margin: 1.5rem auto;
    padding: 1rem;
    color: #023047;
    background-color: var(--card-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size:larger;

  }

  main section {
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
      }

