<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible"content="IE=edge"/>
    <meta name ="viewport" content="width= device-width, initial-scale= 1.0"/>
    <link rel="stylesheet" href="index.css"/>
    <title> CLINICA ODONTOLOGICA</title>
</head>
<body>
<nav>
    <div id="logos">
        <h1>Clinica Odontologica</h1>
        <img src="../assets/DigitalHouse_Logo_Black.png" alt="logo DH">
    </div>



    <button type="submit" id="usuario">LOGIN USUARIO</button>



</nav>
<main>
    <section>
        <article class="pacientes">
            <div class="card-header">

                <h3>Pacientes</h3>
                <button type="submit" id="listado-pacientes">
                    <ul class="desplegable">
                        <li><a href="#">Listado de Pacientes</a>
                        <ul class="submenu">
                            <li>Paciente 1</li>
                            <li>Paciente 2</li>
                            <li>Paciente 3</li>
                            <li>Paciente 4</li>
                        </ul>
                        </li>
                    </ul>
                </button>


                <button type="submit" id="nuevo-paciente">Nuevo paciente</button>
                <form id="formBuscar">
                    <label>
                        <input type="text" id="buscarPaciente" placeholder="Buscar por id"/>
                    </label>
                    <button type="submit">Buscar</button>
                </form>
            </div>
        </article>
        <article class="odontologos">
            <div class="card-header">
                <h3>Odontologos</h3>
                <button type="submit" id="listado-odontologos"><a href="../static.js/odontologoList.html">Listado de odontologos</a></button>
                <button type="submit" id="nuevo-odontologo"><a href="../static.js/post_odontologo.html">Nuevo odontologo</a></button>
                <form id="form-buscar">
                    <label>
                        <input type="text" id="buscarOdontologo" placeholder="Buscar por id"/>
                    </label>
                    <button type="submit">Buscar</button>
                </form>
            </div>
        </article>
        <article class="turnos">
            <div class="card-header">
                <h3>Turnos</h3>
                <button type="submit" id="listado-turnos">Listado de turnos</button>
                <button type="submit" id="turnosSemana">Turnos semanales</button>
                <button type="submit" id="nuevoTurno">Nuevo turno</button>
                <form id="form_buscar_turno">
                    <label>
                        <input type="text" id="idBuscar" placeholder="buscar por id"/>
                    </label>
                    <button type="submit">Buscar</button>
                    <!-- <button type="submit">Turnos semanles</button> -->
                </form>
            </div>

        </article>
    </section>
</main>


</body>
</html>
