<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible"content="IE-edge"/>
    <meta name ="viewport" content="width= device-width, initial-scale= 1.0"/>
    <link rel="stylesheet" href="styles/styles.css"/>
    <title> CLINICA ODONTOLOGICA</title>
</head>
<body>
<nav>
    <h1>Clinica Odontologica</h1>

    <button type="submit" id="usuario">LOGIN USUARIO</button>







</nav>
<main>
    <section>
        <article class="pacientes">
            <div>
                h3
            </div>

    </section>
</main>


</body>
</html>
